// = require bootswatch/spacelab/bootstrap
// = require win8loading
// = require messenger/build/css/messenger
// = require messenger/build/css/messenger-spinner
// = require messenger/build/css/messenger-theme-future
// = require font-awesome
body
  -webkit-transition: background-color
  &.drag_hover
    background-color: #ccc
  &:not(.loading) 
    > #loading, > #loadingText
      opacity: 0
      pointer-events: none
  &.loading
    pointer-events: none
    > *
      opacity: .3
  > *
    transition: opacity ease .5s
.well
  padding: .3em
a:hover
  text-decoration: none
.progress-bar
  transition: none!important
  -webkit-transition: none!important
#loading, #loadingText
  position: fixed
  left: 50%
  top: 50%
  opacity: 1
#loading
  margin: -35px 0 0 -35px
#loadingText
  pointer-events: all
  margin: -0.5em 0 0 40px

#login
  padding: 1em 2em
  #favs
    min-height: 5em
    li
      position: relative
      button
        position: absolute
        right: -0.8em
        top: .5em
  #formLogin
    max-width: 400px

#filelist
  padding: 3em 2em 0 2em

  .preloader
    background-image: image-url('712.GIF')
    width: 64px
    height: 64px
    margin-left: -32px
    top: 10em
    left: 50%
    position: absolute
  .btn
    margin: 0 2px
  tbody
    tr
      > td, >td i
        transition: line-height ease .2s, opacity ease .2s, padding ease .2s
      &.filtered
        > td, >td i
          line-height: 0
          opacity: 0
          padding-top: 0
          padding-bottom: 0
          border-top: none
        .btn
          display: none
  #topbar
    position: fixed
    top: 0
    left: 0
    right: 0
    border-radius: 0
    box-shadow: 0 0 20px black
    #inputFilter
      position: absolute
      right: 4px
      top: 4px
      transition: width ease .2s
      height: 28px
      width: 150px
      &:focus,&:hover
        width: 200px
    > *
      margin: 0
#editor
  .navbar
    border-top: none
    border-left: none
    border-right: none
    border-radius: 0
  .editor
    position: absolute
    top: 50px
    left: 0px
    right: 0px
    bottom: 0px
