---
title: 又拍云资源管理器
---
#login
  .row
    .col-xs-8
      %form#formLogin.form-horizontal{ role: :form }
        .form-group
          %label.control-label.col-xs-5{ for: 'inputUsername' } 操作员用户名：
          .col-sm-7
            %input#inputUsername.form-control{ type: :text, name: :username }
        .form-group
          %label.control-label.col-xs-5{ for: 'inputPassword' } 操作员密码：
          .col-sm-7
            %input#inputPassword.form-control{ type: :password, name: :password }
        .form-group
          %label.control-label.col-xs-5{ for: 'inputBucket' } 空间名：
          .col-sm-7
            %input#inputBucket.form-control{ type: :text, name: :bucket }
        .form-group.pull-right
          %button.btn.btn-primary{ type: :submit } 连接
          %button#btnAddFav.btn.btn-default{ type: :button } 保存
    .col-xs-4
      .well
        %ul#favs.nav.nav-pills
#filelist
  #topbar
    %input#inputFilter.form-control{ type: :text, name: :filter, placeholder: '筛选列表' }
    %ol#path.breadcrumb
  %table.table.table-hover
    %thead
      %th
      %th 尺寸
      %th 最后修改时间
      %th
    %tbody
#editor
  .navbar.navbar-default.navbar-fixed-top
    %ul.nav.navbar-nav
      %li
        %a#btnSaveEditor{href: '#'} 
          %i.fa.fa-save
          保存
      %li
        %a#btnReloadEditor{href: '#'} 
          %i.fa.fa-reply
          重新加载
  .editor
