---
title: 又拍云资源管理器
---
#login
  .row
    .col-xs-8
      %form#formLogin.form-horizontal{ role: :form }
        .form-group
          %label.control-label.col-xs-5{ for: 'inputUsername' } 操作员用户名：
          .col-sm-7
            %input#inputUsername.form-control{ type: :text, name: :username }
        .form-group
          %label.control-label.col-xs-5{ for: 'inputPassword' } 操作员密码：
          .col-sm-7
            %input#inputPassword.form-control{ type: :password, name: :password }
        .form-group
          %label.control-label.col-xs-5{ for: 'inputBucket' } 空间名：
          .col-sm-7
            %input#inputBucket.form-control{ type: :text, name: :bucket }
        .form-group.pull-right
          %button.btn.btn-primary{ type: :submit } 连接
          %button#btnAddFav.btn.btn-default{ type: :button } 保存
    .col-xs-4
      .well
        %ul#favs.nav.nav-pills
#filelist
  #topbar
    #toolbar
      %a.btn.btn-sm.btn-info#btnShareFolder{ title: '向其他人分享该目录' }
        %i.fa.fa-share
      .btn-group
        %button.btn.btn-sm.btn-info.dropdown-toggle{ data: { toggle: :dropdown }, title: '新建..' }
          %i.fa.fa-plus
          %span.caret
        %ul.dropdown-menu
          %li
            %a#btnCreateFile{ href: '#' }
              %i.fa.fa-file
              新建文件
          %li
            %a#btnCreateFolder{ href: '#' }
              %i.fa.fa-folder
              新建子目录
      .btn-group
        %button.btn.btn-sm.btn-info.dropdown-toggle{ data: { toggle: :dropdown }, title: '上传..' }
          %i.fa.fa-cloud-upload
          %span.caret
        %ul.dropdown-menu
          %li
            %a#btnUploadFiles{ href: '#' }
              %i.fa.fa-file
              上传文件
          %li
            %a#btnUploadFolder{ href: '#' }
              %i.fa.fa-folder
              上传整个目录
      %a.btn.btn-sm.btn-info#btnDownloadFolder{ title: '下载当前目录' }
        %i.fa.fa-download
      %input#inputFilter.form-control{ type: :text, name: :filter, placeholder: '筛选列表' }
    %ol#path.breadcrumb
  .preloader.load7
    .loader
  %table.table.table-hover
    %thead
      %th
      %th 尺寸
      %th 最后修改时间
      %th
    %tbody
#editor
  .navbar.navbar-default.navbar-fixed-top
    %ul.nav.navbar-nav
      %li
        %a#btnSaveEditor{href: '#'} 
          %i.fa.fa-save
          保存
      %li
        %a#btnReloadEditor{href: '#'} 
          %i.fa.fa-reply
          重新加载
  .editor
#loading.load6
  .loader Loading...
  #loadingText
